<html>
    <head>
        <h4><b> Add New Employee </b></h4>
    </head>
    <body>
        <form action='' method = "POST">
            <p><b>Employee ID</b> <input type = "integer" name = "employeeid" /></p>
            <p><b>Name</b> <input type = "text" name = "name" /></p>
            <p><b>Age </b><input type = "integer" name = "age" /></p>
            <p><b>Position </b> <input type = "text" name = "position" /></p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
    </body>
</html>