<html>
    <head>
        <h4><b> Employee Details </b></h4>
    </head>
    <body>
            <p><b>Enter Employee ID</b> <input type = "integer" id = "employeeid" /></p>
            <button onclick="document.location='http://127.0.0.1:5000/retrieve/'+employeeid.value">Employee Details</button>
            <button onclick="document.location='http://127.0.0.1:5000/update/'+ employeeid.value">Update Employee Details</button>
            <button onclick="document.location='http://127.0.0.1:5000/delete/'+ employeeid.value">Delete Employee Details</button>
    </body>
</html>