<html>
    <head>
        <h1 style="text-align:center"> Welcome to the Employee Information Portal</h1>
    </head>
    <body>
        <button style='margin-left:500px' onclick="document.location='http://127.0.0.1:5000/retrieve'"> List of All Employees </button>
        <br/> <br/> <br/> <br/>
        <button style='margin-left:300px' style='margin-right:100px' onclick="document.location='http://127.0.0.1:5000/create'">Add New Employee</button> <t/>
        <button style='margin-left:300px' style='margin-right:100px' onclick="document.location='http://127.0.0.1:5000/empid'">Get Employee Details</button>
    </body>
</html>