<html>
    <head>
        <h4><b> Update the Details of Employee </b></h4>
    </head>
    <body>
        <form action='' method = "POST">
            <p><b>Name </b><input type = "text" name = "name" value="{{employee.name}}"/></p>
            <p><b>Age </b><input type = "integer" name = "age"  value="{{employee.age}}"/></p>
            <p><b>Position</b> <input type = "text" name = "position" value="{{employee.position}}"/></p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
    </body>
</html>